body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 130px;
  background-image: url(imagebanner.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  gap: 50px;
}
.logo {
  height: 60px;
}
.item {
  display: flex;
  align-items: center;
  color: #b0a9a6;
  gap: 5px;
  font-size: 20px;
  transition: all 0.3s ease;
}
input[type="text"] {
  cursor: pointer;
  height: 35px;
  opacity: 0.5;
  border-radius: 4px;
  background-color: white;
  border: none;
  font-size: 20px;
  color: rgb(49, 49, 49);
}
.icon-play,
.icon-oscar {
  opacity: 0.5;
}
input:hover {
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
  opacity: 1;
}
.logo:hover,
.item:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 21px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content:space-evenly;
  padding: 60px;

}
.poster {
  
  height: 500px;
  position: relative;
  text-align: center;
  background-color: #e8e5ef;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(183, 82, 5, 0.1);
  transition: 0.3s ease;
}
.poster_c {
  position: relative;
  overflow: hidden;
}
.poster:hover {
  cursor: pointer;
  scale: 1.05;
}
.ticket {
  position: absolute;
  bottom: 30px;
  right: 20px;
  background-color: #ff5501;
  color: rgb(239, 233, 233);
  padding: 8px 12px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}
.ticket:hover {
  background-color: #dc2509;
}
.rating {
  position: absolute;
  top: 5px;
  left: 20px;
  padding: 10px 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}
.rating1 {
  background-color: green;
}
.rating2 {
  background-color: red;
}
.rating3 {
background-color: green;
}
.descr {
  display: none;
  position: absolute;
  bottom: 120px;
  left: 10px;
  right: 10px;
  background-color: rgba(246, 237, 237, 0.9);
  color: #0a0a0a;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.poster_c:hover .descr {
  display: block;
  transition: .5s;
}
.poster img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  margin: 0;
  display: block;
}
.poster_c img{
  width: auto;
  height: 420px;
  border-radius: 10px 10px 0 0;

}

